@charset "utf-8";

* {
    padding: 0; margin: 0;
}

body {
    position: relative;
    width: 100dvw; height: 100dvh;
    font-family: "Noto Sans";
    background-image: url("../TemplateData/Background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#NotEnoughViewport {
    visibility: hidden;
}

#WaveMicro {
    position: absolute;
    width: 220px; height: 40px;
    left: calc(50% - 110px); top: calc(50% - 20px - 310px);
}
#WaveMicro #Front {
    position: absolute;
    width: 100%; height: 100%;
    bottom: 0;
    background-image: url("WaveMicroFront.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    z-index: +10;
}
#WaveMicro #Back {
    position: absolute;
    width: 100%; height: 100%;
    top: 0;
    background-image: url("WaveMicroBack.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    z-index: -10;
}
#WaveMicro.A #Front, #WaveMicro.A #Back {
    animation: WaveMicro 2000ms infinite;
}
#WaveMicro.B #Front, #WaveMicro.B #Back {
    animation: WaveMicro 2000ms infinite 200ms;
}
#WaveMicro.C #Front, #WaveMicro.C #Back {
    animation: WaveMicro 2000ms infinite 400ms;
}
@keyframes WaveMicro {
    0% {
        translate: 0px 0px;
        scale: 1 1;
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        translate: 0px -200px;
        scale: 2 1.5;
        opacity: 0;
    }
}

#TV {
    position: absolute;
    width: 900px; height: 900px;
    left: calc(50% - (900px / 2)); top: calc(50% - (900px / 2));
    text-align: center;
    background-image: url("../TemplateData/TV.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#ScreenGame {
    position: absolute;
    background: #231F20;
    border: 5px solid #000;
    border-radius: 5px;
    left: calc(50% - (800px / 2) - 5px); top: calc(50% - (450px / 2) - 5px);
    outline: none;
}
#BarLoading {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
#LogoUnity {
    width: 154px; height: 130px;
    background: url('unity-logo-dark.png') no-repeat center;
}
#BarEmpty {
    width: 141px; height: 18px;
    margin-top: 10px; margin-left: 6.5px;
    background: url('progress-bar-empty-dark.png') no-repeat center;
}
#BarFull {
    width: 0%; height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center;
}

#ButtonFullScreen {
    position: absolute;
    width: 30px; aspect-ratio: 1 / 1;
    border-radius: 5px;
    left: calc(50% - (30px / 2)); bottom: 185px;
    background-image: url('Button-FullScreen.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: scale 200ms;
}
#ButtonFullScreen:hover {
    scale: 1.1;
}

#WarningUnity {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 12px;
    display: none;
}

#Cat {
    position: absolute;
    width: 3520px; height: 4370px;
    left: calc(50% - 1760px); top: 50%;
    background-image: url("Cat.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -5;
}

@media screen and (max-width: 900px), (max-height: 550px) {

    #NotEnoughViewport {
        color: #000;
        position: absolute;
        width: 220px;
        left: calc(50% - 110px); bottom: 50%;
        text-align: center;
        visibility: visible;
    }
    
    body {
        visibility: hidden;
    }

}
