@charset "utf-8";

* {
    padding: 0; margin: 0;
}

body {
    background-color: #ccc;
    position: relative;
    width: 100dvw; height: 100dvh;
    font-family: "Noto Sans";
}

header, footer {
    background-color: #666;
    position: absolute;
    width: 100%; height: 10svh;
    background-repeat: no-repeat;
}
header {
    top: 0;
    background-image: url(../Image/TextHeader.png), url(../Image/Fish1.png), url(../Image/Fish2.png), url(../Image/Fish3.png), url(../Image/Fish4.png), url(../Image/Fish5.png), url(../Image/Fish6.png), url(../Image/Fish7.png), url(../Image/Fish8.png);
    background-size: 30svh, 3svh, 6svh, 9svh, 6svh, 15svh, 12svh, 12svh, 30svh;
    background-position: left 3% center, right 75% top 50%, right 68% top 30%, right 60% top 90%, right 53% top 20%, right 43% top 30%, right 31% top 150%, right 22% top -50%, right 3% top 50%;
}
footer {
    bottom: 0;
    background-image: url(../Image/TextFooter.png);
    background-size: 20svh;
    background-position: center;
}

#CanNot {
    display: none;
}

#unity-container.unity-desktop {
    position: absolute;
    width: 1024px; height: 576px;
    border: 6px solid #000;
    border-radius: 6px;
    left: calc(50% - (1024px / 2 + 6px)); top: calc(50% - (576px / 2 + 6px));
    text-align: center;
}
#unity-canvas {
    background: #231F20;
    outline: none;
}
#unity-loading-bar {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
#unity-logo {
    width: 154px; height: 130px;
    background: url('unity-logo-dark.png') no-repeat center;
}
#unity-progress-bar-empty {
    width: 141px; height: 18px;
    margin-top: 10px; margin-left: 6.5px;
    background: url('progress-bar-empty-dark.png') no-repeat center;
}
#unity-progress-bar-full {
    width: 0%; height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center;
}

#unity-fullscreen-button {
    position: absolute;
    width: 38px; height: 38px;
    border-radius: 6px;
    right: -50px; bottom: -6px;
    background: url('fullscreen-button.png') no-repeat center;
    cursor:pointer;
}
#unity-warning {
    position: absolute;
    left: 50%; top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}


@media screen and (max-width: 1130px), (max-height: 735px) {

    header {
        background-image: url(../Image/TextHeader.png);
        background-position: center;
        background-size: 30svh;
    }

    #unity-container.unity-desktop {
        display: none;
    }

    #CanNot {
        color: #fff;
        display: block;
        position: absolute;
        width: 220px;
        left: calc(50% - 110px); bottom: 50%;
        text-align: center;
    }

}
