@charset "utf-8";

* {
    padding: 0; margin: 0;
}

body {
    position: relative;
    width: 100dvw; height: 100dvh;
    font-family: "Noto Sans";
    background-image: url("../TemplateData/Background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#NotEnoughViewport {
    display: none;
}

#TV {
    position: absolute;
    width: 900px; height: 900px;
    left: calc(50% - (900px / 2)); top: calc(50% - (900px / 2));
    text-align: center;
    background-image: url("../TemplateData/TV.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#ScreenGame {
    position: absolute;
    background: #231F20;
    border: 5px solid #000;
    border-radius: 5px;
    left: calc(50% - (800px / 2) - 5px); top: calc(50% - (450px / 2) - 5px);
    outline: none;
}
#BarLoading {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
#LogoUnity {
    width: 154px; height: 130px;
    background: url('unity-logo-dark.png') no-repeat center;
}
#BarEmpty {
    width: 141px; height: 18px;
    margin-top: 10px; margin-left: 6.5px;
    background: url('progress-bar-empty-dark.png') no-repeat center;
}
#BarFull {
    width: 0%; height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center;
}

#ButtonFullScreen {
    position: absolute;
    width: 30px; aspect-ratio: 1 / 1;
    border-radius: 5px;
    left: calc(50% - (30px / 2)); bottom: 185px;
    background-image: url('Button-FullScreen.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: scale 200ms;
}
#ButtonFullScreen:hover {
    scale: 1.1;
}

#WarningUnity {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 12px;
    display: none;
}


@media screen and (max-width: 900px), (max-height: 550px) {

    #TV {
        display: none;
    }

    #NotEnoughViewport {
        color: #000;
        display: block;
        position: absolute;
        width: 220px;
        left: calc(50% - 110px); bottom: 50%;
        text-align: center;
    }

}
