@charset "utf-8";

body {
    background-color: #cccccc;
    font-family: "Noto Sans";
    padding: 0; margin: 0;
}

header {
    background-color: #666666;
    position: relative;
    height: 100px;
    background-image: url(../Image/HeaderText.png), url(../Image/Fish1.png), url(../Image/Fish2.png), url(../Image/Fish3.png), url(../Image/Fish4.png), url(../Image/Fish5.png), url(../Image/Fish6.png), url(../Image/Fish7.png), url(../Image/Fish8.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 200px, 20px, 40px, 60px, 40px, 100px, 80px, 80px, 200px;
    background-position: left 3% center, right 75% top 50%, right 68% top 30%, right 60% top 90%, right 53% top 20%, right 43% top 30%, right 31% top 150%, right 25% top -50%, right 3% top 50%;
}

#unity-container.unity-desktop { text-align: center; width: 1024px; height: 576px; margin: 10px auto 50px; }
#unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }
#unity-canvas { background: #231F20; }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }

.unity-mobile #unity-footer { display: none }
#unity-logo-title-footer { float:left; width: 102px; height: 38px; background: url('unity-logo-title-footer.png') no-repeat center }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }

#CanNot {
    display: none;
}

footer {
    background-color: #666666;
    position: relative;
    height: 100px;
    text-align: center;
    background-image: url(../Image/FooterText.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
}

footer p {
    color: #ffffff;
    position: absolute;
    margin: 0;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {

    html {
        height: 100%;
    }

    body {
        position: relative;
        height: 100%;
    }

    header {
        background-color: #666666;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        background-image: url(../Image/HeaderText.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 200px;
    }

    header img {
    position: absolute;
    width: 200px;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    }   

    #unity-container.unity-desktop {
        display: none;
    }

    #CanNot {
        display: block;
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%); 
        width: 220px;
        text-align: center;
    }

    #CanNot p {
        margin: 0;
    }

    footer {
        background-color: #666666;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;
    }

}